<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Workstation WebApp" }}</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="nav-left">
          <h1 class="app-name">
            <a href="{{ url_for('index') }}">
              Workstation WebApp
            </a>
          </h1>
          <nav class="nav-tabs">
            <a href="{{ url_for('dashboard') }}" class="nav-tab">Dashboard</a>
            <a href="{{ url_for('archive') }}" class="nav-tab">Data Archive</a>
          </nav>
        </div>
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
